.slider {
    position:absolute;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 30px;
    }
    .subslider {
        flex-direction: row;
        margin-bottom: 30px;
    }

    .slider p {
        font-size: 18px;
        font-weight: 600;
        font-family: Sans-Serif;
        padding-left: 18px;
        padding-right: 18px;
        color: rgb(222, 222, 222);
        }

    .subslider p {
    display: inline;
    font-size: 18px;
    font-weight: 600;
    font-family: Sans-Serif;
    padding-left: 18px;
    padding-right: 18px;
    color: rgb(222, 222, 222);
    }
    .slider input[type="range"] {
    -webkit-appearance:none !important;
    width: 200px;
    height: 2px;
    background: rgb(222, 222, 222);
    border: none;
    outline: none;
    }
    .slider input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    width: 30px;
    height:30px;
    background: black;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
    }
    .slider input[type="range"]::-webkit-slider-thumb:hover {
    background: black;
    }